@media only screen and (max-width:768px) {
    .container {
        position: relative;
        background-color: white;
        height: 100vh;
        max-width: 100vw;
        left: 0vw;
        top: 0vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 5px;
    }
    .body {
        background-color: rgb(5, 9, 255);
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100vw;
    }
    .head {
        background-color: transparent;
        max-width: 100vw;
        margin: 0;
        height: 45vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5%;
    }
}